*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.input,
.output {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
}

.editor-wrapper {
  height: 100%;
  display: flex;
}

.editor-wrapper > div,
.editor-wrapper .monaco-editor {
  width: 100% !important;
  height: 100% !important;
}

.output.error .monaco-editor .view-lines span {
  color: red !important;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .input,
  .output {
    flex-basis: 50%;
    width: 100%;
  }
}
